body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/* Box shadow for a subtle 3D effect */
    width: 300px;
}

h1 {
    margin: 0 0 20px;
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between; /* Space between input and button */
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    background-color: #3528a7;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;/* Cursor changes to pointer on hover */
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;/* Strikethrough text */
    color: #aaa;
}

button.delete {
    background-color: #28021f;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.delete:hover {
    background-color: #c82380;
}
